body {
  background-color: #110c6e;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: grid; /* new */
  align-items: center;  /* new */
  justify-content: center;  /* new */
}

img {
  transition: 0.1s;
}
img:hover {
  transform: scale(1.25,1.25);
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
