.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: grid; /* new */
  align-items: center;  /* new */
  justify-content: center;  /* new */
}

img {
  transition: 0.1s;
  object-fit: cover;
}
img:hover {
  transform: scale(1.25,1.25);
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: red;
}

@keyframes backgroundAnim {
  0%   {background-color: red;}
  20%  {background-color: yellow;}
  40% {background-color: green;}
  60% {background-color: blue;}
  80% {background-color: purple;}
  100%   {background-color: red;}
}

#creditText {
  position: absolute;
  bottom: 6px;
  left: 16px;
  font-size: 14px;
  font-family: sans-serif;
}
